.checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vw 1.5%;
  background-color: rgb(234, 237, 237);
}
.checkout_left {
  background-color: white;
  flex: 0.68;
  padding: 2vw;
}
.checkout_title {
  font-size: 2.1vw;
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px solid #e7e7e7;
  color: rgb(41, 40, 40);
}
.basket_item_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  margin: 1vw 0px;
}
.checkout_right {
  display: flex;
  flex: 0.3;
  align-items: flex-end;
  flex-direction: column;
}
.subtotal_box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
}
.checkout_button {
  width: 95%;
  border: none;
  padding: 1vw;
  font-size: 1vw;
  background-color: #f7ca38;
  border-radius: 5px;
  margin-top: 0.8vw;
}
.suggested_item_box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vw;
  margin-top: 1.5vw;
}
.suggested_item_box_title {
  font-size: 1vw;
}
.disable {
  cursor: "not-allowed";
}
.enable_button {
  cursor: pointer;
}
