.emptycart {
  display: flex;
  align-items: center;
  padding: 2vw;
}
.emptycart_image {
  margin-right: 1.5vw;
  border-radius: 40vw;
  height: 15vw;
  object-fit: contain;
  border: 1px solid rgb(145, 211, 236);
}
.emptycart_text {
  font-size: 1vw;
  font-weight: 500;
}
