.sub_product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sub_product_image {
  min-height: 115px;
  object-fit: cover;
  width: 100%;
}
.sub_product_title {
  font-size: 5px;
  margin: 10px 0px;
}
