.header {
  width: 100%;
  height: 6vw;
  background-color: #0e172b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  z-index: 100;
  position: sticky;
  top: 0;
}
.logo {
  width: 7vw;
  object-fit: contain;
  margin-top: 10px;
}
.search_bar {
  display: flex;
  align-items: center;
  width: 50vw;
}
.search_input {
  height: 3vw;
  padding: 5px;
  width: 95%;
  border: none;
}
.search_icon {
  padding: 0.5vw;
  font-size: 3vw !important;
  background-color: #eeb262;
  color: black !important;
}
.header_details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header_field {
  display: flex;
  flex-direction: column;
  margin: 0px 1vw;
  color: white;
}
.delivery_place {
  color: white;
  display: flex;
  align-items: flex-end;
}
.location_icon {
  font-size: 2vw !important;
}
.header_field_line_one {
  font-size: 1vw;
  color: rgb(233, 230, 230);
}
.header_field_line_two {
  font-size: 1vw;
  font-weight: 600;
}
.cart {
  position: relative;
  color: white;
}
.cart_icon {
  font-size: 4.2vw !important;
}
.cart_count {
  position: absolute;
  width: 1.6vw;
  height: 1.6vw;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 1.3vw;
  color: #f59b26;
  background-color: #0e172b;
}
.cart_count_value {
  font-size: 1.1vw;
  position: absolute;
}
