.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #232f3e;
  color: white;
  position: sticky;
  top: 6vw;
  z-index: 100;
  padding: 0.7vw 1.5vw;
}
.navbar_item {
  font-size: 1vw;
  margin: 0px 10px;
}
.sidebar {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 0px;
}
.sidebar_icon {
  font-size: 1.8vw !important;
  margin-right: 5px;
}
.sidebar_tag {
  font-size: 1vw;
  font-weight: 800;
}
